.tag-container {
	display: flex;
	align-items: center;
	height: 18px;
	padding: 0 calc(var(--design-unit) * 1px);
	background-color: var(--vscode-editorWidget-background);
	border-radius: 3px;
	margin-right: calc(var(--design-unit) * 1px);
	font-size: 12px;

	.icon {
		margin-right: 4px;
		font-size: 11px;
	}
}
